<h1>Definition of <%=@word.word%></h1>

<p>Definition: <%=@definition.definition%></p>

<a id="change-word" href="/words/<%=@word.glob_id%>/definitions/<%= @definition.id %>/edit">Change Definition</a>

<a id="change-definition" href="/words/<%=@word.glob_id%>/edit">Change Word</a>